<head>
<%= csrf_meta_tags %>
<% content_for(:head) do %>
  <%= javascript_include_tag 'test' %>
<% end %>
</head>

<div class="jumbotron">
  <h1 class="display-3" align="center">Open Games</h1>
  <hr class="m-y-2">
  <p align="center">Join an open game below and get start throwing knives!</p>
</div>

<% @open_games.each do |game| %>
<div class="panel panel-primary">
  <div class="panel-heading"><b>Game Number: <%=game.id%></b></div>
  <div class="panel-body fixed-panel">
    
        <div class="row">
            <div class="col-md-6">
              <div class="btn-group">
                <%= button_to('Join', "home#player_join", params: {:id=>game.id}, :class => 'btn btn-large btn-primary')%>
              </div>
            </div>
        </div> 
        <div class="row" align="center">
            <div class="col-md-4">Seat 1:</div><div class="col-md-2">Name</div>
        </div> 
        <div class="row" align="center">
            <div class="col-md-4">Seat 2:</div><div class="col-md-2">Name</div>
        </div>
        <div class="row" align="center">
            <div class="col-md-4">Seat 3:</div><div class="col-md-2">OPEN</div>
        </div>
        <div class="row" align="center">
            <div class="col-md-4">Seat 4:</div><div class="col-md-2">OPEN</div>
        </div>
  </div>
</div>
<% end %>
